:root{
    --primary-color : #00916E;
    --secondary-color : #FEEFE5;
    --accent1-color : #FFCF00;
    --accent2-color : #EE6123;
    --heading-font : "Inter";
    --text-font : "Roboto";
    --padding: 1rem;
    --border: 1px solid rgb( 0 0 0 / 0.1);
}